# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_data = pd.read_csv("../WeatherPy/cities_output.csv")
cities_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ostrovnoy,100,RU,1584295995,89,68.05,39.51,25.50,24.23
1,egvekinot,99,RU,1584295781,99,66.32,-179.17,8.22,6.24
2,chokurdakh,0,RU,1584295986,71,70.63,147.92,-22.20,4.07
3,mataura,68,NZ,1584295976,91,-46.19,168.86,54.00,11.01
4,bambous virieux,40,MU,1584296070,83,-20.34,57.76,77.00,9.86

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmaps
gmaps.configure(api_key=g_key)

#creates coordinates
coordinates = []
for index, rows in cities_data.iterrows(): 
    
    coord_list = [rows["Lat"], rows["Lng"]] 
      
    coordinates.append(coord_list) 

#display map with heatmap layer
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(coordinates, weights = cities_data["Humidity"])
heatmap.max_intensity = 100
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
vacation_data = cities_data.loc[(cities_data["Max Temp"] > 70) & (cities_data["Max Temp"] < 80) &
                                (cities_data["Wind Speed"] < 10) & (cities_data["Cloudiness"] == 0)]

vacation_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
96,alyangula,0,AU,1584296090,94,-13.85,136.42,71.6,2.08
113,jalu,0,LY,1584295980,17,29.03,21.55,73.2,8.23
168,yulara,0,AU,1584296106,18,-25.24,130.99,78.8,9.17
306,mount isa,0,AU,1584296137,31,-20.73,139.50,75.2,8.05
315,olavarria,0,AR,1584296139,41,-36.89,-60.32,73.0,6.91

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [49]:
hotel_df = vacation_data
hotel_df.loc[:,"Hotel Name"] = ''

base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

target_radius = 5000
params = {
    "location": "",  
    "type": "lodging",
    "radius" : target_radius,
    "query": "hotel",
    "key": g_key,
}


for index, row in hotel_df.iterrows():

    params['location'] = f"{row['Lat']},{row['Lng']}"

    # assemble url and make API request
    print(f"Retrieving results for hotels in {row['City']}. ")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
print("Retrieval complete.")

Retrieving results for hotels in alyangula.
Closest hotel is Groote Eylandt Lodge.
------------
Retrieving results for hotels in jalu.
Closest hotel is Jalu Hotel.
------------
Retrieving results for hotels in yulara.
Closest hotel is Sails in the Desert.
------------
Retrieving results for hotels in mount isa.
Closest hotel is Isa Hotel.
------------
Retrieving results for hotels in olavarria.
Closest hotel is Hotel Santa Rosa.
------------
Retrieving results for hotels in daru.
Closest hotel is Daru hotel.
------------
Retrieving results for hotels in kununurra.
Closest hotel is Hotel Kununurra.
------------
Retrieving results for hotels in siva.
Closest hotel is Siwa Oasis Hotel.
------------
Retrieving results for hotels in necochea.
Closest hotel is Hotel Firenze.
------------

In [69]:
hotel_df.head(20)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
96,alyangula,0,AU,1584296090,94,-13.85,136.42,71.60,2.08,Groote Eylandt Lodge
113,jalu,0,LY,1584295980,17,29.03,21.55,73.20,8.23,Jalu Hotel
168,yulara,0,AU,1584296106,18,-25.24,130.99,78.80,9.17,Sails in the Desert
306,mount isa,0,AU,1584296137,31,-20.73,139.50,75.20,8.05,Isa Hotel
315,olavarria,0,AR,1584296139,41,-36.89,-60.32,73.00,6.91,Hotel Santa Rosa
354,daru,0,PG,1584296148,92,-9.08,143.21,74.10,3.47,Daru hotel
364,kununurra,0,AU,1584295986,88,-15.77,128.73,71.60,5.66,Hotel Kununurra
474,siva,0,EG,1584296175,32,29.20,25.52,71.76,1.54,Siwa Oasis Hotel
524,necochea,0,AR,1584296002,63,-38.55,-58.74,71.01,7.00,Hotel Firenze

In [54]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vacation_data.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [63]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
symbol_layer = gmaps.symbol_layer(locations, info_box_content=hotel_info)
fig.add_layer(symbol_layer)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))